<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .content {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            max-width: 800px;
        }

        
        .footer {
            text-align: center;
            padding: 10px;
            background: #4CAF50;
            color: white;
        }
    </style>
    <title>@ViewBag.Title - My Application</title>
    @RenderSection("Scripts", required: false)
</head>
<body>
    

    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <p>&copy; My Clicker</p>
    </footer>
</body>
</html>

