@using Clicker.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = TempData["Exc"] as string;
}


<div>Вход в личный кабинет</div>
<body>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="custom-error" role="alert">
            @errorMessage
        </div>
    }
</body>
    


<form action="Authentication/Index" method="post">
    <p>Login: <input name="login" /></p>
    <p>Password: <input name="password" /></p>
    <input type="submit" value="Войти" />
</form>
