@using Clicker.Controllers

@{
    var errorMessage = TempData["Exc"] as string;
}


<div>Auth</div>
<body>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
</body>
    


<form action="Authentication/Index" method="post">
    <p>Login: <input name="login" /></p>
    <p>Password: <input name="password" /></p>
    <input type="submit" value="Send" />
</form>
