
@{
    var errorMessage = TempData["Exc"] as string;
}
@model User;

<div>Вход в личный кабинет</div>
<body>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="custom-error" role="alert">
            @errorMessage
        </div>
    }
</body>
    


<form asp-action="Index" method="post">
    <div>
        <label asp-for="name">Login:</label>
        <input name="name" asp-for="name" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="password">Password:</label>
        <input name="password" asp-for="password" type="password" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <input type="submit" value="Войти" />
</form>
