@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <h1>Смена пароля</h1>
        <div>
            <strong>Имя:</strong> @Model.name
        </div>
        <div>
            <strong>Пароль:</strong> @Model.password
        </div>
        <div>
            <strong>Количество монет:</strong> @Model.coins
        </div>
    </div>
    
    
</body>
</html>
