@model User;
@{
    var errorMessage = TempData["UsernameTaken"] as string;
}


<div>Введите логин и пароль для регистрации</div>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
 
</head>
<body>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="custom-error" role="alert">
            @errorMessage
        </div>
    }


    <form asp-action="Index" method="post">
        <div>
            <label asp-for="name">Login:</label>
            <input asp-for="name" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="password">Password:</label>
            <input asp-for="password" type="password" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <input type="submit" value="Зарегистрироваться" />
    </form>

</body>
</html>